
<!-- Toolbar -->
<div id="container-fluid text-center">
<div class="toolbar" role="banner">
  <img
    width="70"
    alt="Angular Logo"
    src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/s7svpf3b2rceidakwe5h"  />
  <span style="font-size: 150%; margin:0 auto;">Dashboard</span>
</div>
<ag-grid-angular
style="height: 300px; padding-top:60px; width:1002px; padding-bottom: 60px;"
class="ag-theme-alpine"
[animateRows]="true"
[rowData]="frontendRowData"
[columnDefs]="frontendColDefs"
[pagination]="true"
[paginationPageSize]="5"
(gridReady)="OnGridReady($event)"
[defaultColDef]="defaultColDef"
[domLayout]="domLayout"
[popupParent]="popupParent"
[getRowId]="getRowId"
(selectionChanged)="onSelectionChanged()"
[rowSelection]="rowSelection"
></ag-grid-angular>

<ag-grid-angular
style="height: 300px; padding-top:60px; width:1002px; padding-bottom: 60px;"
class="ag-theme-alpine"
[animateRows]="true"
[rowData]="BackendRowData"
[columnDefs]="BackendColDefs"
[pagination]="true"
[paginationPageSize]="5"
(gridReady)="OnGridReady($event)"
[defaultColDef]="defaultColDef"
[domLayout]="domLayout"
[popupParent]="popupParent"
[getRowId]="getRowId"
(selectionChanged)="onSelectionChanged()"
[rowSelection]="rowSelection"
></ag-grid-angular>


</div>

<app-project-allocation-customisation (parentFunction)="parentFunction($event)"></app-project-allocation-customisation>